
.cart{
    color: #f2f2f2;
}
/* Modo oscuro */
.text{
    color: #ffffff;
}
body.modo-oscuro {
    background-color: #3a3a3a;
    color: #f2f2f2;
}

.modo-oscuro .card-body {
    background-color: #262626;
    color: #f2f2f2;
}

.modo-oscuro .card {
    background-color: #262626;
    color: #f2f2f2;
}

.modo-oscuro .btn-primary {
    background-color: #400880;
    border-color:#400880 ;
}

.modo-oscuro .btn-secondary {
    background-color: #6c757d;
    color: #1d1c1c;
}

.modo-oscuro .bg-dark {
    background-color: #343a40;
    color: #ffffff;
}

.modo-oscuro .text-muted {
    color: #1d1c1c;
}
.modo-oscuro .popup-content{
    background-color: #343a40;
    color: #ffffff;
}

/* Ventana emergente */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
